{{/* 
  
  # This file has been modified by the Webis Group 
  # to fit the needs of the IR Anthology. 
  # The original is part of the ACL Anthology. 
  
*/}}
<nav class="navbar navbar-expand-sm navbar-light bg-light bg-gradient-light shadow-sm py-0 mb-3 mb-md-4 mb-xl-5">
  <div id="navbar-container" class="container-fluid" style="padding-top: 15px;padding-bottom: 15px;">
    <a class="navbar-brand" href=/anthology/>
      <span class="d-md-inline"><span style="color:#951515"><b>IR</b></span> Anthology</span>
    </a>
    <form class="form-inline input-group" style="max-width:800px" action="https://ir.chatnoir.eu/?" method="get">
      <input id="acl-search-box" class="form-control" name="q" type="search" placeholder="Full-text search..." aria-label=Search>
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type=submit><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
</nav>
