{{/* 

# This file has been modified by the Webis Group 
# to fit the needs of the IR Anthology. 
# The original is part of the ACL Anthology. 

*/}}
{{ define "javascript" }}
<script>
  document.title = "The Information Retrieval Anthology";
</script>
{{ end }}

{{ define "main" }}
{{ $event_exists_but_not_index := dict "airs_conference" (slice "2021" "2007") "cikm_conference" (slice "2021") "clef_conference" (slice "2021") "desires_conference" (slice "2021") "dir_conference" (slice "2000" "2001" "2002" "2003" "2005" "2006" "2007" "2008" "2009" "2010" "2011" "2012" "2015" "2016" "2017" "2018" "2019" "2020" "2021") "ecir_conference" (slice "2000" "2001") "fire_conference" (slice "2012" "2021") "ictir_conference" (slice "2007" "2014" "2021") "ntcir_conference" (slice "2020") "trec_conference" (slice "2021") "www_conference" (slice "2021") "sigirjournals_journal" (slice "2021") "spire_conference" (slice "2021") "tist_journal" (slice "2021") "tois_journal" (slice "2021")}}
<div class="justify-content-left">
  {{ $.Scratch.Set "paper_count" 0 }}
  {{ range $.Site.Data.papers }}
    {{ $.Scratch.Add "paper_count" (len .) }}
  {{ end }}

  <div class="col-12 px-0 px-sm-3">
    <main aria-role="main">
    <p class="mb-4">The IR Anthology currently contains {{ $.Scratch.Get "paper_count" }} papers on the study of information retrieval.</p>

    <h4>Conferences</h4>
    {{/* Conferences */}}
    {{/* Hardcoded range of years because the table layout depends on it */}}
    {{ $all_years := seq 2021 -1 1971 }}
    {{/* Years that should have a border on their left-hand side */}}
    {{ $border_years := slice "2021" "2019" "2009" "1999" "1989" }}
    <table class="table table-hover table-sm table-responsive small text-nowrap mb-4">
      <thead>
        <tr class="text-center border-left border-right">
          <th class="border-left" scope="col" style="min-width:6rem;">Venue</th>
          <th class="border-left" scope="col" colspan="2">2020+</th>
          <th class="border-left" scope="col" colspan="10">2019 &ndash; 2010</th>
          <th class="border-left" scope="col" colspan="10">2009 &ndash; 2000</th>
          <th class="border-left" scope="col" colspan="10">1999 &ndash; 1990</th>
          <th class="border-left border-right" scope="col" colspan="19">1989 and older</th>
        </tr>
      </thead>
      <tbody class="border-bottom">
        {{ range $venue := (where (sort $.Site.Data.venues "slug" "asc") "acronym" "!=" "Workshops") }}
        {{ if (and $venue.is_toplevel $venue.is_conf) }}
        <tr class="text-center border-left border-right">
          {{ $venue_page := $.Site.GetPage (printf "/venues/%s.md" $venue.slug) }}
          {{ $acronym := index $venue_page.Params "venue" }}
          <th scope="row"><a href="{{ $venue_page.RelPermalink }}">{{ $venue.acronym }}</a></th>
          {{ range $all_years }}
          {{ $year := string . }}
          {{/* this is the actual default case */}}
          <td class="{{ cond (in $border_years $year) "border-left" "" }} {{ cond (eq "1971" $year) "border-right" "" }}">
            {{ if (or (not (isset $event_exists_but_not_index $venue.slug)) (not (in (index $event_exists_but_not_index $venue.slug) $year)) ) }}
              {{- with index $venue "volumes_by_year" $year -}}
                <a href="{{ relref $ (printf "/events/%s-%s.md" $venue.slug $year) }}">{{ slicestr $year 2 4 }}</a>
              {{- end -}}
            {{ end }}
            {{ if (and (isset $event_exists_but_not_index $venue.slug) (in (index $event_exists_but_not_index $venue.slug) $year)) }}
              <span style="color:lightgrey">{{ slicestr $year 2 4 }}</span>
            {{ end }}
          </td>
          {{ end }}
        </tr>
        {{ end }}
        {{ end }}
        {{ range $venue := $.Site.Data.venues }}
        {{ if (eq $venue.name "Workshops") }}
        <tr class="text-center border-left border-right">
          {{ $venue_page := $.Site.GetPage (printf "/venues/%s.md" $venue.slug) }}
          {{ $acronym := index $venue_page.Params "venue" }}
          <th scope="row"><a href="{{ $venue_page.RelPermalink }}">{{ $venue.acronym }}</a></th>
          {{ range $all_years }}
          {{ $year := string . }}
          {{/* this is the actual default case */}}
          <td class="{{ cond (in $border_years $year) "border-left" "" }} {{ cond (eq "1971" $year) "border-right" "" }}">
            {{ if (or (not (isset $event_exists_but_not_index $venue.slug)) (not (in (index $event_exists_but_not_index $venue.slug) $year)) ) }}
              {{- with index $venue "volumes_by_year" $year -}}
                <a href="{{ relref $ (printf "/events/%s-%s.md" $venue.slug $year) }}">{{ slicestr $year 2 4 }}</a>
              {{- end -}}
            {{ end }}
            {{ if (and (isset $event_exists_but_not_index $venue.slug) (in (index $event_exists_but_not_index $venue.slug) $year)) }}
              <span style="color:lightgrey">{{ slicestr $year 2 4 }}</span>
            {{ end }}
          </td>
          {{ end }}
        </tr>
        {{ end }}
        {{ end }}
        {{/* Societies */}}
        <tr class="border-left border-right">
          <th class="text-center" scope="row">Societies</th>
          <td class="border-left border-right" colspan="{{ len $all_years }}">
            <a href="https://sigir.org/">ACM SIGIR</a> | 
            <a href="https://sigir.jp/">ACM SIGIR Tokyo</a> | 
            <a href="http://www.asso-aria.org/">ARIA</a> | 
            <a href="https://www.asist.org/">ASIS&amp;T</a> | 
            <a href="https://irsg.bcs.org/">BCS IRSG</a> | 
            <a href="http://www.clef-initiative.eu/">CLEF Initiative</a> | 
            <a href="https://fg-retrieval.gi.de/">GI FGIR</a> | 
            <a href="http://irsi.res.in">IRSI</a> | 
            <a href="https://www.ismir.net/">ISMIR</a> | 
            <a href="http://www.mirsociety.org/">MIR</a> | 
            <a href="https://pecamp.org/">PECAMP</a> | 
            <a href="http://romip.ru/">ROMIP</a> | 
            <a href="https://www.informatiewetenschap.org/">WGI</a>
          </td>
        </tr>
        {{/* Schools */}}
        <tr class="border-left border-right">
          <th  class="text-center" scope="row">Schools</th>
          <td class="border-left border-right" colspan="{{ len $all_years }}">
            <a href="https://www.dagstuhl.de/en/program/calendar/?catchword=autumn%20school">ASIRF</a> | 
            <a href="http://www.asso-aria.org/earia/">EARIA</a> | 
            <a href="http://ims.dei.unipd.it/websites/essir/home.html">ESSIR</a> | 
            <a href="http://russir.org/">RUSSIR</a>
          </td>
        </tr>
      </tbody>
    </table>

    <h4>Journals</h4>
    {{/* Journals */}}
    {{/* Hardcoded range of years because the table layout depends on it */}}
    {{ $all_years := seq 2021 -1 1963 }}
    {{/* Years that should have a border on their left-hand side */}}
    {{ $border_years := slice "2021" "2019" "2009" "1999" "1989" }}

    <table class="table table-hover table-sm table-responsive small text-nowrap">
      <thead>
        <tr class="text-center border-left border-right">
          <th class="border-left" scope="col" style="min-width:6rem;">Venue</th>
          <th class="border-left" scope="col" colspan="2">2020+</th>
          <th class="border-left" scope="col" colspan="10">2019 &ndash; 2010</th>
          <th class="border-left" scope="col" colspan="10">2009 &ndash; 2000</th>
          <th class="border-left" scope="col" colspan="10">1999 &ndash; 1990</th>
          <th class="border-left border-right" scope="col" colspan="27">1989 and older</th>
        </tr>
      </thead>
      <tbody class="border-bottom">
        {{ range $venue := sort $.Site.Data.venues "slug" "asc" }}
        {{ if (and $venue.is_toplevel $venue.is_journal) }}
        <tr class="text-center border-left border-right">
          {{ $venue_page := $.Site.GetPage (printf "/venues/%s.md" $venue.slug) }}
          {{ $acronym := index $venue_page.Params "venue" }}
          <th scope="row"><a href="{{ $venue_page.RelPermalink }}">{{ $venue.acronym }}</a></th>
          {{ range $all_years }}
          {{ $year := string . }}
          <td class="{{ cond (in $border_years $year) "border-left" "" }} {{ cond (eq "1963" $year) "border-right" "" }}">
            {{- with index $venue "volumes_by_year" $year -}}
            <a href="{{ relref $ (printf "/events/%s-%s.md" $venue.slug $year) }}">{{ slicestr $year 2 4 }}</a>
            {{- end -}}
            {{ if (not (isset (index $venue "volumes_by_year") $year)) }}
              {{ if (isset $event_exists_but_not_index $venue.slug) }}
                {{ if (in (index $event_exists_but_not_index $venue.slug) $year) }}
                  <span style="color:lightgrey">{{ slicestr $year 2 4 }}</span>
                {{ end }}
              {{ end }}
            {{ end }}
          </td>
          {{ end }}
        </tr>
        {{ end }}
      {{ end }}
      </tbody>
    </table>
  </main>
  </div>
</div>
{{ end }}
